@using Web.Models
@model EditarProvaViewModel

<style>
    .text-box{
        width:500px;
        border:groove;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    label{
        font-weight:bolder;
        margin:10px;
    }

    textarea{
       padding:4px;
       width:800px;
    }

    li{
        margin:20px;
        margin-left:0px;
    }

    .btn-adicionar{
        display:flex;
        margin:20px 0px;
    }

    a{
        background:black;
        outline:none;
        color:white;
        text-decoration:none;
        padding:10px;
        border-radius:14px;
    }
</style>

<div class="container m-2">

    @Html.ActionLink("Menu","Menu", "Prova")

    <button class="btn btn-primary btn-adicionar " onclick="adicionarQuestao()">Adicionar Questão</button>

    @using (Html.BeginForm(actionName: "AtualizarProva", controllerName: "Prova", FormMethod.Post))
    {
        @Html.HiddenFor(e => e.Prova.Id)

        <div class="d-flex flex-column">
            @Html.LabelFor(e => e.Prova.Name, new { @class = "group-control" })
            @Html.EditorFor(e => e.Prova.Name, new { @class = "group-control" })
        </div>

        @Html.Partial("RenderEditableQuestoes", Model.Prova.Questoes)
    }
</div>