@using DTO;
@using DTO.Utilitario;

@model QuestaoTO
@{
    var index = 0;
}

<style>
    .label-opcao {
        margin-left: 10px;
        width: 100%;
    }
</style>

<div class="container-opcoes d-flex flex-column w-75">

    @{
        var contador = 1;
    }

    @foreach (KeyValuePair<Options, string> opcao in Model.OptionDescriptions)
    {
        bool opcaoJaMarcada = Model.SelectedOption == opcao.Key && opcao.Key != 0;

        <div class="w-75 d-flex justify-content-between text-lg-start">

            @if (opcaoJaMarcada)
            {
                <input type="radio" name="opcao_@Model.Id.ToString()" id="@index.ToString()_@Model.Id.ToString()opcao_@contador" value="@opcao.Key.ToInt()" checked />
            }
            else
            {
                <input type="radio" name="opcao_@Model.Id.ToString()" id="@index.ToString()_@Model.Id.ToString()opcao_@contador" value="@opcao.Key.ToInt()" />
            }

            <label for="@index.ToString()_@Model.Id.ToString()opcao_@contador" class="label-opcao">
                <textarea name="opcao_descricao_@Model.Id.ToString()_@contador" id="@index.ToString()_@Model.Id.ToString()opcao_@contador">@opcao.Value</textarea>
            </label>

        </div>
        contador++;
        index++;
    }
</div>