@using DTO
@using Web.Models
@model ListProvaViewModel
<div class="container">

    @if (Model.IsTeacher)
    {
        <div class="container">
            @Html.ActionLink("Criar Nova Prova", "CriarProva", "Prova")
        </div>
    }

    <table class="table table-bordered">
        <tr>
            <td>Nome</td>
            <td>Professor</td>
        </tr>
        <tbody>
            @foreach(ProvaTO prova in Model.ListProvaTO)
            {
                if(Model.IsTeacher)
                {
                    <tr>
                        <td>
                            <a href="EditarProva/?provaId=@prova.Id">
                            @prova.Name
                            </a>
                        </td>
                        <td>@prova.ProfessorNome </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <a href="EditarProva/?provaId=@prova.Id">
                                @prova.Name
                            </a>
                        </td>
                        <td>@prova.ProfessorNome </td>
                    </tr>
                }
            }
        </tbody>    
    </table>
</div>
